<h3>{{ mititulo }}</h3>
Número de estudiantes {{ numero_estudiantes }}
<hr>
<br />
<ul>

    {% for e in estudiantes %}

    <li>{{ e.id }} - {{ e.nombre }} - telefono: {{ e.obtener_numeros_telefonicos}}</li>

    {% endfor %}

</ul>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Numerillos</th>
    </tr>
    {% for e in estudiantes %}
    <tr>
        <td>{{ e.id }}</td>
        <td>{{ e.nombre }}</td>
        <td>{{ e.obtener_numeros_telefonicos}}</td>
    </tr>
    {% endfor %}
</table>
<hr>